/* STYLES */


body {
    width: 100%;
    font-family: verdana;
    text-align: justify;
    color: #a3e55b;
    background-image: url(../images/possible_background);
    /* sourced from: https://pxhere.com/es/photo/1557703 */
    margin: auto;
    padding-bottom: 20px;
    padding-top: 0;
}

h1 {
    width: auto;
    font-family: verdana;
    text-align: justify;
    color: #a3e55b;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 0;
}

h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 50px;
    width: auto;
    font-family: verdana;
    text-align: justify;
    color: #a3e55b;
    margin: auto;
}

h3 {
    color:rgb(230, 255, 185)
}

section ol {
    color:rgb(230, 255, 185)
}

body a {
    color: black;
}

body a :hover {
    color:#415e37;
}

main {
    color: black;
    float: left;
}

nav {
    background-color: black;
    padding: 0;
    width: 100%;

}

nav ul {
    text-align: center;
    font-size: 1.2em;
}

nav ul li {
    list-style-type: none;
    background-color: grey;
    display: inline;
    padding: 15px;
    margin: 5px;
    border: 2px solid yellowgreen;
    border-radius: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #b9deab;
}

header {
    background-color: black;
    height: 100px;
    width: 100%;
    padding: 0px;
}




aside {
    border: 1px solid yellowgreen;
    float: right;
    width: 18%;
    background-color: #242425;
}

aside ul li {
    list-style-type: circle;
}

aside ul li a {
    color: rgb(230, 255, 185);
    text-decoration: none;
}


footer {
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    font-size: 0.8em;
}

footer p {
    text-align: center;
    color: #b9deab;
}

img {
    margin-right: 5px;
}

main img {
    border:#242425 solid 4px;
    border-radius: 8px;
}


/* CLASSES & IDs*/

#active {
    background-color: yellowgreen;
}

.videoContent {
    float: center;
    padding-left: 50px;
    width: 70%;
    max-height: 600px;
    min-height: 70%;
    overflow: auto;
}

.col_detail {
    column-count: 2;
    /* column-gap: 50px; */
    padding-left: 40px;
    text-align: justify;
    color: white;
    -webkit-text-stroke: 1px rgb(225, 247, 182);
    text-shadow: 0px 1px 4px #415e37;
}